
*{
  font-family:sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
  }