
*{
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
  }